In [8]:
#importing libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import sqlite3
%matplotlib inline

In [9]:
#importing the DB file  

conn = sqlite3.connect("regression.db") 
cursor = conn.cursor() 
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';") 
tables = cursor.fetchall() 
print(tables)

[('Insurance_Prediction',), ('flight_fare',), ('household_power_consumption',), ('air_quality_index',), ('predicting_sales',), ('electric_motor_temperature',), ('signal_metrics',), ('mining_data',), ('life_science',), ('fuel_efficiency_automobile',)]

In [10]:
#connect to the sqlite database file  

conn =sqlite3.connect("regression.db") 
#load the table from the database  
df=pd.read_sql("SELECT* FROM household_power_consumption",conn) 
#close the connection  
conn.close()

In [11]:
df.head()

  Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3
0  16/12/2006;17:24:00;4.216;0.418;234.840;18.400...
1  16/12/2006;17:25:00;5.360;0.436;233.630;23.000...
2  16/12/2006;17:26:00;5.374;0.498;233.290;23.000...
3  16/12/2006;17:27:00;5.388;0.502;233.740;23.000...
4  16/12/2006;17:28:00;3.666;0.528;235.680;15.800...

In [12]:
df.shape

(2075259, 1)

In [13]:
df.isnull().sum()

Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3    0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 1 columns):
 #   Column                                                                                                                     Dtype
---  ------                                                                                                                     -----
 0   Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3  object
dtypes: object(1)
memory usage: 15.8+ MB

In [16]:
df.describe()

       Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3
count                                             2075259
unique                                            2075259
top     16/12/2006;17:24:00;4.216;0.418;234.840;18.400...
freq                                                    1

In [17]:
df.columns

Index(['Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3'], dtype='object')

In [18]:
df.tail()

        Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3
2075254  26/11/2010;20:58:00;0.946;0.000;240.430;4.000;...
2075255  26/11/2010;20:59:00;0.944;0.000;240.000;4.000;...
2075256  26/11/2010;21:00:00;0.938;0.000;239.820;3.800;...
2075257  26/11/2010;21:01:00;0.934;0.000;239.700;3.800;...
2075258  26/11/2010;21:02:00;0.932;0.000;239.550;3.800;...